@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
body {
  margin: 0;
  background-color: #efefef;
  color: #232323;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.main {
  margin-top: 15px;
}
.paper {
  padding: 30px 20px;  
}

.sidebar a {
  text-decoration: none;
  color: #232323;
}
.sidebar a.active {
  background-color: rgba(0,0,0,.08);
  display: block;
}

.ml-1 { 
  margin-left: .5em !important;
}
.mb-0 { 
  margin-bottom: 0 !important;
}

.mt-2 {
  margin-top: 1em !important;
}
.mr-2 {
  margin-right: 1em !important;
}
.pl-3 {
  padding-left: 1.5em !important;
}
.pl-5 {
  padding-left: 3em !important;
}
.pb-3 {
  padding-bottom: 1.5em !important;
}
.flex-grow-1 { 
  flex-grow: 1;
}

.heading {
    margin: 15px 0 -5px 0;
    color: #1f1f1f;
}
.text-muted { 
  opacity: 0.5;
}

 .MuiAccordion-root:before {
   opacity: 0 !important;
 }

 .flex-list {
   display: flex;
   flex-wrap: wrap;
    >* {
      display: flex;
      align-items: center;
      flex-grow: 1;
      width: 50%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      &:hover {
        background-color: rgba(0,0,0,.08);
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      }
    }  
 } 

.accordion {
  background-color: #f7f7f7 !important;
}

.preview-container { 
  padding: 12px;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-family: 'Roboto Condensed', sans-serif;

  h3.preview-head { 
    margin: 0;
  }

  hr { 
    margin: 5px 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #414141;
    // font-family: 'roboto_condensed', Arial, Helvetica, sans-serif; 
    font-weight: bold;
    font-style: normal; }
  
  h1 {
    margin-top: 0;
    font-size: 24px; }
  
  h2 {
    font-size: 18px; }
  
  h3 {
    font-size: 14px; }
  
  h4 {
    font-size: 12px; }
  
  h5 {
    font-size: 10px; }
  
  h6 {
    font-size: 8px; }
  
  h5, h6 {
    font-weight: bold; }
  
}

.main-page-row { 
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  > li { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;  
    width: 20%;
    border: 1px solid rgba(65, 65, 65, 0.1);
    position: relative; 
    margin: 15px;
    &:hover { 
      .img-cont { 
        background: #974726 !important;
        svg { 
          fill: #fff !important;
        }
      }
    }

    .wrap-link { 
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
    }
    h4 { 
      color: #414141;
      font: bold 22px 'roboto_condensed', Arial, Helvetica, sans-serif;
      margin: 0 0 13px;
    }

    .img-cont { 
      width: 150px;
      height: 150px; 
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #ffe6db;
      transition: all .3s ease-in-out;
      overflow: hidden;
      svg { 
        max-height: 67px;
        display: inline-block;
        vertical-align: middle;
        fill: #1f1f1f;
        transition: all .3s ease-in-out;
      }
    }
    .price-btn { 
      font-size: 30px;
      margin: 30px 0 0;
      background: #974726;
      display: inline-block;
      border-radius: 4px;
      color: #fff;
      font: 700 18px/1 "roboto_condensed",Arial,Helvetica,sans-serif;
          font-size: 18px;
      padding: 12px 14px;
    }

  }
}
 
.btn-absolute {
  position: absolute;
  top: 3px;
  &.top { 
    top: -40px;
    left: 0;
  }
  &.left { 
    left: 3px;
  }
  &.right { 
    right: 3px;
  }
  &.fill { 
    background: #ffffff; 
  }
}

.block-review {  
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      margin: 5px;
      border: 1px solid rgb(0, 0, 0) ; 
    } 
}

@media screen and (max-width: 768px) {
  .flex-list  >* {
    width: 100%;
  }
}

.block-wrapper-advantages {
  background: #ffe6db; }
  .block-wrapper-advantages p {
    margin: 0; }
  @media all and (max-width: 479px) {
  .block-wrapper-advantages {
    margin: 0 -15px 30px;
    padding: 18px 15px; } }
  @media all and (min-width: 480px) and (max-width: 1023px) {
  .block-wrapper-advantages {
    margin: 0;
    padding: 25px 20px; } }
  @media all and (min-width: 1024px) {
  .block-wrapper-advantages {
    margin: 0 15px;
    padding: 32px 0 0; } }
  .block-wrapper-advantages .title {
    color: #414141;
    font: bold 24px 'roboto_condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px; }
  @media all and (min-width: 480px) and (max-width: 1023px) {
    .block-wrapper-advantages .title {
      margin: 0 0 30px; } }
  @media all and (min-width: 1024px) {
    .block-wrapper-advantages .title {
      margin: 0 0 38px; } }
  .block-wrapper-advantages .block-extra-wrapper {
    padding: 0;
    list-style: none;
    font-size: 1px;
    text-align: justify; }
  .block-wrapper-advantages .block-extra-wrapper:after {
    width: 100%;
    display: inline-block;
    content: ""; }
  @media all and (min-width: 1024px) {
    .block-wrapper-advantages .block-extra-wrapper {
      max-width: 940px;
      margin: 0 auto; } }
  .block-wrapper-advantages .blocks-inner {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    margin: 0 0 15px; }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .block-wrapper-advantages .blocks-inner {
      width: 49%; } }
  @media all and (min-width: 1024px) {
    .block-wrapper-advantages .blocks-inner {
      width: 33%;
      margin: 0 0 45px; } }
  .block-wrapper-advantages .num {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font: bold 18px/1 'roboto_condensed', Arial, Helvetica, sans-serif;
    background-color: #974726;
    border: 5px solid #b3603d;
    width: 37px;
    height: 37px;
    line-height: 29px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .block-wrapper-advantages .item {
    display: inline-block;
    vertical-align: middle;
    color: #414141;
    font: 18px/1 'roboto_condensed', Arial, Helvetica, sans-serif;
    margin: 0 0 0 14px;
    width: 78%; }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .block-wrapper-advantages .item {
      font-size: 24px; } }
